@import '../styles/tools';

/* stylelint-disable scale-unlimited/declaration-strict-value */
html {
    font-size: 10px;
    // min-width: 50rem;
}

/* stylelint-enable scale-unlimited/declaration-strict-value */

* {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    background-color: $color-gray4;
}