@import '../../styles/tools';

.container {
    // max-width: 132rem;
    width: 100%;
    margin: 0 auto;

    .mainWrapper {
        background-color: $color-gray4;
        display: flex;

        @include flexbox-centered;
        flex-direction: column;
    }
}

.alertDialogContent {
    padding: 20px;
    border-radius: 8px;
    max-width: 400px;
    width: 100%;

    .alertDialogContentTitle {
        font-size: 2rem;
    }

    .alertDialogContentDescription {
        font-size: 1.5rem;
    }

    .alertDialogFooter {
        display: flex;
        align-items: center;
        justify-content: flex-end;

        button {
            max-width: 13rem;
            width: 100%;
            font-size: 15px;
            padding: 2rem;
        }
    }

    @include for-phoneS-only {
        max-width: calc(100% - 5rem);
    }
}