$color-white: #FFFFFF;
$color-black: #000000;

$color-primary: #222222;

$color-blue1: #3835FF;

$color-gray1: #808080;
$color-gray2: #A9A9A9;
$color-gray3: #B8B9B9;
$color-gray4: #F7F7F7;

$color-red: #D72B4B;