$spacing-XXXXXXXS: 0.4rem;
$spacing-XXXXXXS: 0.8rem;
$spacing-XXXXXS: 1.0rem;
$spacing-XXXXS: 1.2rem;
$spacing-XXXS: 1.6rem;
$spacing-XXS: 2.0rem;
$spacing-XS: 2.4rem;
$spacing-S: 2.6rem;
$spacing-M: 3.2rem;
$spacing-L: 3.6rem;
$spacing-XL: 4.0rem;
$spacing-XXL: 4.2rem;
$spacing-XXXL: 5.0rem;
$spacing-XXXXL: 5.6rem;
$spacing-XXXXXL: 7.0rem;
$spacing-XXXXXXL: 8.0rem;
$spacing-XXXXXXXL: 9.0rem;
$spacing-XXXXXXXXL: 10.0rem;